<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}

    <title>Search</title>

    <div class="row">

        <div class="col-sm-6">
            <form method='POST' action=''>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit' value="SUBMIT" />
            </form>
            <p>Results returned: {{records}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-hover table-bordered">
                <thead ><tr>
                {% for title in header %}
                    <th>{{title}}</th>
                {% endfor %}
                </tr> </thead>

                <tbody>
                {% for row in data %}
                    <tr>
                    {% for elem in row %}
                        <td>{{elem}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}
