<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load staticfiles %}
<html lang="en">
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<style type="text/css">
    html,
    body {
      height:100%
    }
</style>

<body class="body" style="background-color:#f6f6f6">
<div class="container-fluid" style="min-height:95%; ">
    <div class="row">
        <div class="col-sm-10">
            <br>
            <center>
            <h3>Make Movie Rankings Great Again</h3>
            </center>
        </div>
    </div><hr>

    <div class="row">
            <ul class="nav nav-tabs">
        <li role="presentation"><a href="/top10">Top 10</a></li>
        <!-- <li role="presentation" class="active"><a href="/search/">Search</a></li> -->
        <li role="presentation"><a href="/search/">Search</a></li>
        <li role="presentation"><a href="/rankings/">Rankings</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
    </body>
</html>
