<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}

    <title>Top 10</title>


    <h3>Top 10</h3>
    <div class="row">
        <div class="col-md-10">
            <table id="Top10" class="table table-hover table-bordered" class="tablesorter">
                <thead> <tr>
                <th>Rank</th>
                {% for title in header %}
                    <th>{{title}}</th>
                {% endfor %}
                </tr> </thead>

                <tbody>
                {% for row in data %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for elem in row %}
                        <td>{{elem}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
